*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 3rem;
  font-family: "Roboto", sans-serif;
}

.grid {
  height: 404px;
  width: 404px;
  border: 2px solid black;
}

.row {
  display: flex;
}

.col {
  user-select: none;
}

.size-btns-wrapper {
  display: flex;
  gap: 2rem;
}

button {
  border: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: rgb(199, 197, 197);
}

button:hover {
  transform: scale(1.05);
}

@media (max-width: 650px) {
  .grid {
    width: 304px;
    height: 304px;
  }
}
